{% extends "base.html" %}

{% block content %}
<form id="deleteForm">
    <label for="department_name">Название подразделения:</label><br>
    <input type="text" id="department_name" name="department_name" required><br><br>
    <input type="submit" value="Удалить">
</form>

<script>
document.getElementById('deleteForm').addEventListener('submit', function(event) {
    event.preventDefault();
    const departmentName = document.getElementById('department_name').value;

    fetch('/departments/delete', {
        method: 'DELETE',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ department_name: departmentName }),
    })
    .then(response => {
        if (response.ok) {
            window.location.reload();
        } 
        else {
            
            throw new Error('Ошибка удаления подразделения');
        }
    })
    .catch(error => {
        console.error('Ошибка:', error);
    });
});
</script>
{% endblock %}