{% extends "base.html" %}
{% block content %}
<h1>Добавить работника</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=128) }}
            {% for error in form.last_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=128) }}
            {% for error in form.first_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.patronimic.label }}<br>
            {{ form.patronimic(size=128) }}
            {% for error in form.patronimic.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.salary.label }}<br>
            {{ form.salary}}
            {% for error in form.salary.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.hire_date.label }}<br>
            {{ form.hire_date}}
            {% for error in form.hire_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.department_name.label }}<br>
            {{ form.department_name}}
            {% for error in form.department_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}