{% extends "base.html" %}

{% block content %}
    <h1>Подразделение</h1>
    <a href="/departments"><p>Получить список всех подразделений</p></a>
    <a href="/departments/search"><p>Получить информацию о конкретном подразделении</p></a>
    <a href="/departments/update"><p>Обновить информацию о подразделении</p></a>
    <a href="/departments/add"><p>Добавить новое подразделение</p></a>
    <a href="/departments/delete"><p>Удалить подразделение</p></a>

    <h1>Работник</h1>
    <a href="/employees"><p>Получить список всех работников</p></a>
    <a href="/employees/search"><p>Получить информацию о конкретном работнике</p></a>
    <a href="/employees/update"><p>Обновить информацию о работнике</p></a>
    <a href="/employees/add"><p>Добавить нового работника</p></a>
    <a href="/employees/delete"><p>Удалить работника</p></a>
{% endblock %}